Repository Olorin-ai-git/Bayit-Plus: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-mock-data, validate-no-secrets, check-file-size-limit, check-python-dependencies, check-node-dependencies

Path conditions:
  detect-mock-data: any of: .*, but not: (?x)^(
  .*/(test|tests|spec|__tests__|cypress|e2e)/.*|
  .*\.test\.(py|js|ts|jsx|tsx)$|
  .*\.spec\.(py|js|ts|jsx|tsx)$|
  .*/node_modules/.*|
  .*/\.git/.*|
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  .*/build/.*|
  .*/dist/.*|
  .*/__pycache__/.*|
  .*\.mockignore$|
  .*\.pre-commit-.*\.yaml$|
  .*/docs/examples/.*|
  .*/scripts/git-hooks/test-.*\.py$
)

  validate-no-secrets: any of: .*, but not: (?x)^(
  .*/\.git/.*|
  .*\.enc$|
  .*\.gpg$|
  .*/\.secrets/.*
)

  check-file-size-limit: any of: .*\.(py|ts|tsx|js|jsx|java|rb|php|go|rs|cpp|c|cs)$, but not: (?x)^(
  .*/(test|tests|spec|__tests__|cypress|e2e)/.*|
  .*\.test\.(py|js|ts|jsx|tsx)$|
  .*\.spec\.(py|js|ts|jsx|tsx)$|
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  .*\.generated\.(py|js|ts)$|
  .*/node_modules/.*|
  .*/build/.*|
  .*/dist/.*
)

  check-python-dependencies: any of: olorin-server/(pyproject\.toml|poetry\.lock|requirements.*\.txt)$
  check-node-dependencies: any of: olorin-front/(package\.json|package-lock\.json|yarn\.lock)$

fix(orchestration): Initialize risk_score in all agent nodes to prevent KeyError - @git-expert @domain-agent-specialist
  olorin-server/app/service/agent/orchestration/domain_agents_clean.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

refactor(domain-agents): Modularize domain agents into focused packages under 200 lines
  olorin-server/app/service/agent/orchestration/clean_graph_builder.py
  olorin-server/app/service/agent/orchestration/domain_agents/__init__.py
  olorin-server/app/service/agent/orchestration/domain_agents/auth_utils.py
  olorin-server/app/service/agent/orchestration/domain_agents/authentication_agent.py
  olorin-server/app/service/agent/orchestration/domain_agents/base.py
  olorin-server/app/service/agent/orchestration/domain_agents/device_agent.py
  olorin-server/app/service/agent/orchestration/domain_agents/location_agent.py
  olorin-server/app/service/agent/orchestration/domain_agents/logs_agent.py
  olorin-server/app/service/agent/orchestration/domain_agents/network_agent.py
  olorin-server/app/service/agent/orchestration/domain_agents/risk_agent.py
  olorin-server/app/service/agent/orchestration/domain_agents_clean.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

fix(chain-of-thought): Correct ChainOfThoughtLogger parameter usage in domain agents - @git-expert @domain-agent-specialist
  olorin-server/app/service/agent/orchestration/domain_agents/base.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

CRITICAL FIX: Remove MODEL_SCORE baseline dependency from domain agents
  olorin-server/app/service/agent/orchestration/domain_agents/base.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(git): Add essential test files and update gitignore to allow test tracking - @git-expert
  .gitignore
  olorin-server/AUTONOMOUS_INVESTIGATION_FIX_SUMMARY.md
  olorin-server/app/test/unit/service/agent/mcp_client/test_enhanced_mcp_infrastructure.py
  olorin-server/app/test/unit/service/agent/orchestration/hybrid/__init__.py
  olorin-server/app/test/unit/service/agent/orchestration/hybrid/test_advanced_safety_manager.py
  olorin-server/app/test/unit/service/agent/orchestration/hybrid/test_ai_confidence_engine.py
  olorin-server/app/test/unit/service/agent/orchestration/hybrid/test_migration_utilities.py
  olorin-server/autonomous_investigation_critical_fixes.py
  olorin-server/captured_llm_responses.json
  olorin-server/critical_migration_report.txt
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(test): Add authentication test data scenarios for fraud detection - @git-expert @test-data-engineer
  .DS_Store
  olorin-server/app/test/data/mock_transactions/fraud_scenarios/authentication_brute_force.json
  olorin-server/app/test/data/mock_transactions/fraud_scenarios/authentication_credential_stuffing.json
  olorin-server/app/test/data/mock_transactions/fraud_scenarios/authentication_impossible_travel.json
  olorin-server/app/test/data/mock_transactions/fraud_scenarios/authentication_mfa_bypass.json
  olorin-server/app/test/data/mock_transactions/legitimate_scenarios/authentication_legitimate.json
Due: detect-mock-data, validate-no-secrets

Update requirements.txt to include Poetry dependency management instructions
  olorin-server/requirements.txt
Due: detect-mock-data, validate-no-secrets, check-python-dependencies

feat(core-ui): Integrate Notification System into CoreUIApp - Added NotificationSystem component to enhance user feedback and notifications within the application.
  olorin-front/src/microservices/core-ui/CoreUIApp.tsx
  olorin-front/src/microservices/core-ui/__tests__/components/NotificationSystem.test.tsx
  olorin-front/src/microservices/core-ui/__tests__/components/UserProfile.test.tsx
  olorin-front/src/microservices/core-ui/__tests__/integration/CoreUI.integration.test.tsx
  olorin-front/src/microservices/core-ui/components/HelpSystem.tsx
  olorin-front/src/microservices/core-ui/components/NotificationSystem.tsx
  olorin-front/src/microservices/core-ui/components/SearchAndFilter.tsx
  olorin-front/src/microservices/core-ui/components/SystemStatus.tsx
  olorin-front/src/microservices/core-ui/components/UserProfile.tsx
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

fix(snowflake): Resolve hardcoded database references in development scripts - @git-expert @database-admin
  .DS_Store
  olorin-server/poetry.lock
  olorin-server/pyproject.toml
  olorin-server/scripts/add_more_test_data.py
  olorin-server/scripts/check_snowflake_data.py
  olorin-server/scripts/debugging/test_snowflake_sql.py
  olorin-server/scripts/generate_10k_records.py
  olorin-server/scripts/generate_10k_simple.py
  olorin-server/scripts/test_direct_query.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit, check-python-dependencies

chore: Add packages/artifacts to .gitignore and create POC PR description
  .gitignore
  PR_DESCRIPTION_POC.md
Due: detect-mock-data, validate-no-secrets

chore: remove .DS_Store files from git tracking
  .gitignore
  olorin-front/src/.!37684!.DS_Store
  olorin-server/.DS_Store
  olorin-server/app/.!17316!.DS_Store
  olorin-server/app/test/.!17670!.DS_Store
  olorin-web-portal/.!37759!.DS_Store
  olorin-web-portal/public/.!16377!.DS_Store
  olorin-web-portal/public/assets/.!16393!.DS_Store
  olorin-web-portal/public/assets/images/.!16399!.DS_Store
Due: detect-mock-data, validate-no-secrets

feat(investigation): Initialize investigation folder logging for auto-comparisons
  olorin-server/INVESTIGATION_LOGGING_VERIFICATION.md
  olorin-server/app/service/investigation/auto_comparison.py
  olorin-server/scripts/test_full_investigation_with_logging.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

docs(investigation): Add per-transaction risk scoring verification
  olorin-server/PER_TRANSACTION_RISK_SCORING_VERIFICATION.md
Due: detect-mock-data, validate-no-secrets

feat(risk_agent): Implement pattern-based risk adjustments for transaction scoring
  olorin-server/PER_TRANSACTION_RISK_SCORE_FORMULA.md
  olorin-server/app/service/agent/orchestration/domain_agents/pattern_based_adjustments.py
  olorin-server/app/service/agent/orchestration/domain_agents/risk_agent.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: detect-mock-data, validate-no-secrets

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: detect-mock-data, validate-no-secrets

feat(pattern_recognition): Enhance pattern recognition capabilities across multiple domains
  olorin-server/app/service/agent/orchestration/domain_agents/advanced_features.py
  olorin-server/app/service/agent/orchestration/domain_agents/pattern_recognition_integration.py
  olorin-server/app/service/agent/orchestration/domain_agents/risk_agent.py
  olorin-server/app/service/agent/tools/ml_ai_tools/pattern_recognition/core/models.py
  olorin-server/app/service/agent/tools/ml_ai_tools/pattern_recognition/recognizers/behavioral_recognizer.py
  olorin-server/app/service/agent/tools/ml_ai_tools/pattern_recognition/recognizers/fraud_recognizer.py
  olorin-server/app/service/agent/tools/ml_ai_tools/pattern_recognition/recognizers/frequency_recognizer.py
  olorin-server/app/service/agent/tools/ml_ai_tools/pattern_recognition/recognizers/network_recognizer.py
  olorin-server/app/service/agent/tools/ml_ai_tools/pattern_recognition/recognizers/temporal_recognizer.py
  olorin-server/app/service/analytics/feature_cache.py
  olorin-server/app/service/analytics/feature_engineering.py
  olorin-server/app/service/analytics/feature_extraction_helpers.py
  olorin-server/app/service/analytics/feature_groups.py
  olorin-server/app/service/analytics/feature_importance.py
  olorin-server/app/service/analytics/feature_selector.py
  olorin-server/app/service/analytics/feature_statistics.py
  olorin-server/app/service/analytics/pattern_adjustments.py
  olorin-server/app/service/analytics/pattern_detectors_behavioral.py
  olorin-server/app/service/analytics/pattern_detectors_transaction.py
  olorin-server/app/service/analytics/pattern_helpers.py
  olorin-server/app/service/analytics/risk_analyzer.py
  olorin-server/app/service/analytics/threshold_calculator.py
  olorin-server/app/service/analytics/velocity_analyzer.py
  olorin-server/app/service/analytics/velocity_calculations.py
  olorin-server/app/service/analytics/velocity_utils.py
  olorin-server/docs/plans/2025-11-24-fraud-detection-12-week-optimization-plan.md
  olorin-server/test/unit/test_fraud_pattern_recognizer.py
  olorin-server/test/unit/test_temporal_pattern_recognizer.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(investigation): Implement asynchronous post-investigation packaging
  olorin-server/app/service/investigation/auto_comparison.py
  olorin-server/app/service/investigation/post_investigation_packager.py
  olorin-server/create_complete_archive.sh
  olorin-server/create_investigation_archive.sh
  olorin-server/create_optimized_archive.sh
  olorin-server/scripts/test_post_investigation_packaging.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

chore(cleanup): Remove obsolete documentation files
  olorin-server/FRAUD_PATTERN_DETECTION_IMPLEMENTATION.md
  olorin-server/STARTUP_ANALYSIS_VERIFICATION.md
  olorin-server/app/service/agent/orchestration/domain_agents/risk_agent.py
  olorin-server/app/service/investigation/investigation_transaction_mapper.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(investigation): Refactor investigation time range validation and processing logic
  olorin-server/app/schemas/investigation_state.py
  olorin-server/app/service/investigation/auto_comparison.py
  olorin-server/app/service/investigation/investigation_transaction_mapper.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(investigation): Enhance investigation date filtering and transaction processing
  CLAUDE.md
  olorin-server/app/service/agent/orchestration/hybrid/graph/nodes/investigation_nodes.py
  olorin-server/app/service/agent/tools/snowflake_tool/real_client.py
  olorin-server/app/service/investigation/auto_comparison.py
  olorin-server/app/service/investigation/enhanced_risk_scorer.py
  olorin-server/app/service/investigation/investigation_transaction_mapper.py
  olorin-server/app/service/investigation/merchant_fraud_profiles.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(risk_agent): Integrate Enhanced Risk Scorer with outlier detection for merchant investigations
  olorin-server/ENV_CLEANUP_REPORT.md
  olorin-server/FINAL_ANALYSIS.md
  olorin-server/FRAUD_DETECTION_IMPROVEMENT_PLAN.md
  olorin-server/MERCHANT_OUTLIER_TUNING_SUMMARY.md
  olorin-server/app/service/agent/orchestration/domain_agents/risk_agent.py
  olorin-server/app/service/investigation/enhanced_risk_scorer.py
  olorin-server/app/service/investigation/fraud_detection_features.py
  olorin-server/app/service/investigation/investigation_transaction_mapper.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(auto_comparison): Refactor auto comparison service for fraudulent email investigations
  olorin-server/app/service/investigation/auto_comparison.py
  olorin-server/app/service/investigation/comparison_modules/comparison_data_loader.py
  olorin-server/app/service/investigation/comparison_modules/comparison_executor.py
  olorin-server/app/service/investigation/comparison_modules/comparison_reporter.py
  olorin-server/check_scores.py
  olorin-server/check_window.py
  olorin-server/count_snowflake_txs.py
  olorin-server/verify_confusion_matrix.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(investigation): Add parallel investigations feature and enhance investigation app
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  olorin-front/package.json
  olorin-front/src/microservices/investigation/InvestigationApp.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage.tsx
  olorin-front/src/microservices/investigation/pages/index.ts
  olorin-front/src/microservices/investigation/utils/defaultSettings.ts
  olorin-front/src/shell/constants/serviceData.ts
  olorin-server/app/router/investigation_state_router.py
  olorin-server/app/schemas/investigation_state.py
  olorin-server/app/service/investigation/auto_comparison.py
  olorin-server/app/service/investigation/comparison_modules/comparison_data_loader.py
  olorin-server/app/service/investigation/comparison_modules/comparison_executor.py
  olorin-server/app/service/investigation/comparison_modules/comparison_reporter.py
  olorin-server/app/service/investigation/comparison_modules/report_content_generator.py
  olorin-server/app/service/investigation/confusion_table_generator.py
  olorin-server/app/service/investigation_state_service.py
  olorin-server/archives/artifacts_archive_20251130_122313.zip
  olorin-server/scripts/full_system_cleanup.py
  olorin-server/scripts/generate_confusion_table_for_investigation.py
  olorin-server/scripts/generate_full_test_data.py
  olorin-server/scripts/generate_interim_report.py
  olorin-server/scripts/generate_test_data.py
  olorin-server/scripts/generate_test_data_direct.py
  olorin-server/scripts/populate_1999_fraud_records.py
  olorin-server/scripts/populate_all_333_columns.py
  olorin-server/scripts/populate_postgres_data.py
  olorin-server/scripts/synthetic_data_manager.py
  olorin-server/scripts/trigger_startup_analysis.py
  scripts/olorin
Due: detect-mock-data, validate-no-secrets, check-file-size-limit, check-node-dependencies

feat(olorin): Add functions to manage zombie processes and detect code duplication
  olorin-front/src/microservices/investigation/__tests__/integration/ParallelInvestigationsPage.test.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/InvestigationFilters.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/InvestigationsTable.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/ParallelInvestigationsPage.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/index.ts
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/useInvestigationPolling.ts
  olorin-front/src/microservices/investigation/types/index.ts
  olorin-front/src/microservices/investigation/types/parallelInvestigations.ts
  olorin-server/scripts/detect_code_duplication.py
  scripts/olorin
  specs/023-parallel-investigations-monitor/checklists/requirements.md
  specs/023-parallel-investigations-monitor/plan.md
  specs/023-parallel-investigations-monitor/spec.md
  specs/023-parallel-investigations-monitor/tasks.md
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(investigation): Implement ParallelInvestigationsPage with integration tests
  DUPLICATION_STRATEGIC_PLAN.md
  olorin-front/src/config/investigationConfig.ts
  olorin-front/src/microservices/investigation/__tests__/integration/ParallelInvestigationsPage.test.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/InvestigationFilters.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/InvestigationsTable.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/ParallelInvestigationsPage.tsx
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage/useInvestigationPolling.ts
  olorin-front/src/shared/testing/integration/jest.integration.config.js
  olorin-server/scripts/detect_code_duplication.py
  specs/023-parallel-investigations-monitor/quickstart.md
  specs/023-parallel-investigations-monitor/tasks.md
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(parallel-investigations): Enhance ParallelInvestigationsPage with filtering and cancellation features
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage.tsx
  olorin-front/src/shared/components/ErrorBoundary.tsx
  olorin-front/src/shared/components/Modal.tsx
  olorin-front/src/shared/components/Table/TableBody.tsx
  olorin-front/src/shell/components/NavigationHeader.tsx
  olorin-server/app/router/investigation_state_extended_router.py
  olorin-server/app/service/etag_service.py
  olorin-server/app/service/event_feed_service_enhanced.py
  olorin-server/app/service/event_filtering_service.py
  olorin-server/app/service/event_streaming_service.py
  olorin-server/app/service/investigation/auto_comparison.py
  olorin-server/app/service/investigation/comparison_modules/comparison_data_loader.py
  olorin-server/app/service/investigation/comparison_modules/comparison_executor.py
  olorin-server/app/service/investigation_state_auth_helper.py
  olorin-server/app/service/investigation_state_service.py
  olorin-server/app/service/state_query_helper.py
  olorin-server/app/service/stateless_polling_service.py
  scripts/development/start_olorin.sh
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(investigation): Implement investigation restart functionality and enhance progress tracking
  olorin-front/src/microservices/investigation/hooks/useProgressData.ts
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage.tsx
  olorin-front/src/microservices/investigation/services/investigationService.ts
  olorin-server/app/router/investigation_state_extended_router.py
  olorin-server/app/service/event_feed_helper.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

fix(routes): Update routing for InvestigationsManagementPage and add 404 fallback
  olorin-front/src/microservices/investigation/InvestigationApp.tsx
  olorin-front/src/microservices/investigation/hooks/useProgressData.ts
  olorin-front/src/microservices/investigations-management/InvestigationsManagementApp.tsx
  olorin-front/src/shell/App.tsx
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(confusion-matrix): Add functionality to generate confusion matrices for investigations
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage.tsx
  olorin-front/src/microservices/investigation/pages/ProgressPage.tsx
  olorin-front/src/microservices/investigation/services/investigationService.ts
  olorin-server/app/router/investigation_state_extended_router.py
  olorin-server/app/router/reports_router.py
  olorin-server/app/service/investigation/confusion_table_generator.py
  olorin-server/scripts/generate_confusion_table_for_investigation.py
Due: detect-mock-data, validate-no-secrets, check-file-size-limit

feat(reporting): Implement summary report generation for investigations
  olorin-front/playwright-report/data/192bf77cbb3fde9f72c4c290c5fc8b7277ac4f79.png
  olorin-front/playwright-report/data/c468a9209531e8b0725e473ff912fa67446886e9.webm
  olorin-front/playwright-report/data/c4fbfbf49f0417de65f654540e00950bdbf98090.md
  olorin-front/playwright-report/index.html
  olorin-front/src/microservices/investigation/pages/ParallelInvestigationsPage.tsx
  olorin-front/src/microservices/investigation/services/investigationService.ts
  olorin-front/src/shell/App.tsx
  olorin-front/test-results/.last-run.json
  olorin-front/test-results/junit.xml
  olorin-front/test-results/results.json
  olorin-server/app/router/reports_router.py
  olorin-server/app/service/__init__.py
  olorin-server/app/service/event_filtering_service.py
  olorin-server/app/service/investigation/comparison_modules/comparison_data_loader.py
  olorin-server/app/service/investigation/confusion_table_generator.py
  olorin-server/app/service/reporting/on_demand_startup_report_service.py
  olorin-server/app/service/state_query_helper.py
  scripts/development/start_olorin.sh
Due: detect-mock-data, validate-no-secrets, check-file-size-limit
